.header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.content-w {
    margin: 0 auto;
}

.header__search {
    background-color: #EFEFEF;
    border-radius: 5px;
    padding: 5px;
    height: 45px;
    display: flex;
}