@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
    font-size: 14px;
}

/* <--------------- HEADER --------------> */

.header {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.content_w {
    margin: 0 auto;
    width: 1300px;
}

.header__search {
    background-color: #EFEFEF;
    border-radius: 5px;
    padding: 5px;
    height: 45px;
    display: flex;
    margin-right: 50px;
}

.header__search-input {
    width: 350px;
    border: 0;
    padding-left: 10px;
    margin-left: 5px;
    height: 100%;
}

.header__search-btn {
    height: 100%;
    width: 110px;
    background-color: #FFF;
    border-radius: 0 5px 5px 0;
    color: #333;
    display: flex;
    align-items: center;
    margin-left: 5px;
    justify-content: center;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.bootstrap-select .btn-light {
    background-color: #FFF !important;
    border-color: #fff !important;
    height: 100%;
    color: #999;
}

.header__btn {
    display: flex;
    align-items: center;
    font-family: "PT Sans";
}

.header__entry {
    color: #333;
    font-size: 16px;
    margin-right: 50px;
    font-family: "PT Sans";
    font-weight: bold;
}

.header__btn-reg {
    background-color: #005BFF;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 11px 30px;
    font-family: PT Sans;
    font-weight: bold;
    cursor: pointer;
}

.header__btn-reg:hover {
    color: #fff !important;
    background-color: #0046c3;
}

a {
    transition: all .1s ease-in-out;
}

a:hover {
    color: #00c2a1 !important;
    text-decoration: none;
}

/* <--------------- BOXINDEX --------------> */

.box__index {
    margin-top: 50px;
}

.h__title {
    color: #333;
    font-family: 'PT Sans';
    font-weight: bold;
}

/* <--------------- BOXCONTENT --------------> */

.box__content {
    display: flex;
    flex-wrap: wrap;
}

.content_wi {
    width: 1310px;
    margin: 0 auto;
}

.box__content-item {
    margin: 30px 6px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.content-item__img {
    background-color: #EFEFEF;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 250px;
}

.content-item__title {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

.content-item__street {
    font-family: "PT Sans";
    color: #333;
    margin-top: 5px;
}

.content-item__time {
    font-family: "PT Sans";
    color: #333;
    margin-top: 5px;
}

.small-blue-btn {
    background-color: #005BFF;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 6px 25px;
    font-family: "PT Sans";
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    transition: all .1s ease-in-out;
}

/* <--------------- FOOTER --------------> */

.footer {
    background-color: #EFEFEF;
    padding: 50px 0;
    margin-top: 100px;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.footer__menu li {
    margin: 0 20px;
}

.footer__menu li a {
    font-size: 16px;
    font-family: 'PT Sans';
    color: #333;
}