.profile-control {
    display: flex;
    align-items: center;
}

.btn-profile__del {
    background-color: #005BFF;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 6px 20px;
    font-family: "PT Sans";
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    margin-left: 15px;
}

.box__content-cart {
    display: flex;
    margin: 0 30px 40px 0;
}

.box__content-cart .box__content-item {
    margin: 0 0 0 10px;
}

.profile-box__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}